.cart__wrapper {
  position: fixed;
  top: 60px;
  right: 20px;
  border-radius: 12px;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  z-index: 10;
}

.cart__innerWrapper {
  height: max-content;
  max-height: 50vh;
  overflow-y: auto;
}

.Cart__cartTotal {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.fa-times-circle {
  color: gray;
  transition: transform 0.2s linear;
}

.fa-times-circle:hover {
  transform: rotate(90deg);
}

.checkout {
  display: block;
  background-color: #344e2a;
  width: 9.5rem;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
  margin: 0 auto;
  margin-top: 0.2rem;
  cursor: pointer;
}
