.testi-container{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 20px;
  background-color: #f2f5fc;
  flex-direction: column; 
  overflow-x: hidden;
  min-height: 60vh;
}

.testi-title{
  margin-bottom:5rem ;
  font-size: 35px;
}

.wrapper-testi{
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}
.wrapper-testi .box-testi{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  border-bottom: 2px solid green;
}
.wrapper-testi .box-testi i.quote{
  font-size: 20px;
  color: #57af34;
}
.wrapper-testi .box-testi .content-testi{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box-testi .info .name-testi{
  font-weight: 600;
  font-size: 17px;
}
.box-testi .info .job-testi{
  font-size: 16px;
  font-weight: 500;
  color: #344E2A;
}
.box-testi .info .stars{
  margin-top: 2px;
}
.box-testi .info .stars i{
  color: #559e38;
}
.box-testi .content-testi .image-testi{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #427a2c;
  border-radius: 50%;
}
.content-testi .image-testi img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box-testi:hover .content-testi .image-testi img{
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper-testi .box-testi{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper-testi .box-testi{
    width: 100%;
  }
}