.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 15rem;
  animation: plantSvg 2.3s ease 0s 1 normal forwards;
}
@keyframes plantSvg {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}


.hero-img{
  width: 50%;
}

.hero-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-left h2 {
  font-size: 48px;
  line-height: 58px;
  max-width: 80%;
}

.hero-left h5 {
  font-size: 28px;
}

.hero-shopnow {
  margin-top: 30px;
  line-height: 0;
  padding: 22px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #344e2a;
  box-shadow: 0px 5px 30px rgb(52 78 42 / 40%);
  width: 10rem;
  text-decoration: none;
}

@media(max-width: 1270px){
  .hero-container {
    padding: 5rem;
  }
}

@media(max-width: 1000px){
  .hero-container {
    flex-direction: column;
  }

  .hero-left h2 {
    max-width: 100%;
  }

  .hero-img, .hero-left{
    width: 80%;
  }
}

@media(max-width: 500px){
  .hero-container {
    flex-direction: column;
  }

  .hero-left h2 {
    font-size: 29px;
    line-height: 35px;
  }

   .hero-left{
    width: 70%;
  }

  .hero-container {
    padding: 2rem;
  }
}

