  .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width:21rem;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.card h1{
  font-size: 23px;
}

.card img {
  transition: transform 0.5s ease;
  width: 100%;
}
.card:hover img {
  transform: scale(1.1);
}

 .card h1,.card p{
    padding-top:0.7rem ;
}

 .card a{
    margin-top: 0.7rem;
}

.price {
  color: grey;
  font-size: 22px;
}

 .card a {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(75, 124, 75);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  text-decoration: none;
}
.card a:hover {
  opacity: 0.9;
}

.s{
  text-decoration: none;
  color: black;
}
