.SignUp-hero{
    width: 100%;
    height: 92vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../../imgs/banner.jpg");
    background-position: center;
    background-size: cover;
    position: absolute;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.btn-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f ;
    border-radius: 30px;
}
.toogle-btnn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    outline: none;
    position: relative;
    border: 0;
}

#btn1{
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 110px;
    background: linear-gradient(to right,#344e2a,#344E2A);
    border-radius: 30px;
    transition: .5s;
}

.social-icons-s{
    display: flex;
    justify-content: center;
}

.uu{
    padding:  1rem;
    cursor: pointer;
}

.login-SignUP{
    color: white !important;
}

.toogle-btnn{
    color: black;
    font-size: 15px;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field-s{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;
    outline: none;
    font-size: 20px;
}

.submit-btn{
    width: 45%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#344e2a,#344E2A);
    border: 0;
    outline: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-top: 2rem;
    font-size: 19px;
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}