.prodDetail-container {
  display: flex;
  justify-content: center;
  column-gap: 7rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.prodDeatil-addCart {
  cursor: pointer;
}

.prodDetail-right {
  width: 39%;
}

.wrapper-counter {
  height: 3rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}
.wrapper-counter span {
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}
.wrapper-counter span.num {
  font-size: 25px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.prodDeatil-addCart {
  text-decoration: none;
  background-color: #344e2a;
  width: 9.5rem;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 29px;
  margin-top: 2rem;
  display: block;
}

.subimage-wrapper {
  display: flex;
  column-gap: 1rem;
}

.subimage img {
  width: 6rem;
  height: 6rem;
  cursor: pointer;
}

.prodDetail-left img{
  max-width: 100%;
}

.subimage img:nth-child(2){
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {
  .prodDetail-right {
    width: 70%;
  }

  .prodDetail-right h2 {
    margin-top: 0.7rem;
  }
}
