nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  color: #344E2A;
  padding: 0 18rem;
  position: relative;
}

.logo{
  display: flex;
  align-items: center;
  }

.logo img{
  height: 3.5rem;
}

.logo h1 {
  font-size: 26px;
  letter-spacing: 1px;
}

.logo a{
    text-decoration: none;
    color: #344E2A;
}

.home-ul2{
  z-index: 10;
}

.home-ul2 ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.home-ul2 li {
  margin: 0 1rem;
}

.home-ul2 li a {
  text-decoration: none;
  display: block;
  font-size: 18px;
  color: #344E2A;
  position: relative;
}


.home-ul2 li a:visited{
  width: 100%;
  content: "";
  position: absolute;
  height: 0.1rem;
  left: 0;
  top: 1.8rem;
  background:#344E2A ;
}

.home-ul2 li a::after{
  content: "";
  position: absolute;
  height: 0.1rem;
  width: 0%;
  left: 0;
  top: 1.8rem;
  background:#344E2A ;
  transition: width 0.3s linear;
}

.home-ul2 li a:hover::after{
  width: 100%;
}

.home-ul2 li a:hover {
  color: #344E2A;
}

.home-links i {
  margin-left: 1.2rem;
}


.home-toggle-btn {
  font-size: 1.8rem;
  display: none;
}

.signup-btn{
  line-height: 0;
  padding: 18px 20px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff !important;
  background: #344e2a;
  text-decoration: none;
  font-size: 17px;
}

@media screen and (max-width: 1224px) {
  nav {
    padding: 0 9rem;
  }
}

@media screen and (max-width: 923px) {
  nav {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 773px) {
  nav {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 667px) {
  .home-toggle-btn{
    display: block;
  }

  /* .home-links {
    display: none;
  } */

  .home-ul2 ul {
    flex-direction: column;
    position: fixed;
    top: 8.2vh;
    background-color: #628d52;
    width: 100%;
    height: 100%;
    left: -2000px;
    align-items: center;
    justify-content: flex-start;
    transition: all 0.2s linear;
  }

  .home-ul2 ul li a {
    color: white;
  }

  .home-ul2 ul li a:hover {
    color: white;
  }

  .home-ul2 ul li {
    padding: 2rem 0;
    font-size: 1.2rem;
  }

  nav ul.active {
    left: 0px;
  }
}

.nav-shopnow{
  line-height: 0;
  padding: 22px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #344e2a;
  width: 10rem;
  text-decoration: none;
}
