.footer {
  width: 100vw;
  margin-top: auto;
  background-color: #F0F1F8;
  padding: 70px 0;
}
.footer-container {
  max-width: 80%;
  margin: auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
ul {
  list-style: none;
}
.footer-col {
  width: 160px;
}

.footer-col h4 p{
  text-align: justify;
}
.footer-col h4 {
  font-size: 18px;
  color: #344E2A ;
  text-transform: capitalize;
  text-shadow: 0.25px 0.25px #ffffff;
  position: relative;
  margin-bottom: 30px;
  margin-top: 1rem;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 90px;
  background-color: #344E2A;
}
.footer-col p {
  color: black;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.footer-col ul li a:hover {
  color:#344E2A ;
  padding-left: 6px;
}
.social-links i:hover {
  color: #344E2A;
}
.social-links i {
  display: inline-block;
  height: 40px;
  width: 40px;
  color: black;
  transition: all 0.3s ease;
}
