.prodpage-header{
    background-color: rgb(128, 198, 128);
    color: black;
    height: 5rem;
    text-align: center;
}

.prodpage-header h1{
    padding-top: 1rem;
}

.prodpage-row-container{
    display: flex;   
    flex-wrap: wrap; 
    padding-top: 1rem;
}

.prodpage-cat{
    flex: 1;
    margin-left: 5rem;   
}

.prodpage-products{
    flex: 5;
}

.prodpage-productCartContainer{
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.prodpage-cat ul{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 0.5rem;
    font-size: 20px;
}

.prodpage-cat ul a{
    text-decoration: none;
    color: black;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

@media screen and (max-width:831px) {
    .prodpage-cat{
        margin-right: 2rem;
    }
}
/* minimize width of cart on tablet */
@media screen and (max-width:949px) {
    .card{
        width: 17rem;
    }

    .card h1{
        font-size: 20px;
    }
}

@media screen and (max-width:563px) {
    .prodpage-productCartContainer{
        justify-content: center;
    }

    .prodpage-cat{
        margin-left: 0;
    }
}