.checkout-container {
  display: flex;
  justify-content: space-around;
  margin-top: 9rem;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.checkout-left {
  /* background-color: antiquewhite; */
}



.form-checkout {
  display: flex;
  flex-direction: column;
}

.form-checkout .input-checkout {
  margin-top: 1rem;
}

.yourorder-container {
  background: linear-gradient(to bottom right, #e3f0ff, #f0f1f8);
  width: 28rem;
  height: 87%;
  border-radius: 20px;
  box-shadow: 0px 15px 15px #1687d933;
  padding: 0 1rem;
  margin-top: 0.7rem;
}

.yourorder-title {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.yourorder-details {
    max-height:250px;
    overflow-y: auto;
}
.details-map{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

.details-map p{
    padding: 0.5rem 0;
}

.place-order{
    margin: 1rem auto;
    display: block;
    background-color: #344e2a;
  width: 10rem;
  color: white;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 17px;
}

@media screen and (max-width:767px) {
    .checkout-right{
        margin-top: 1.5rem;
    }

    .checkout-container{
        margin-top: 1.5rem;
    }
}

@media screen and (max-width:453px) {
    .yourorder-container{
        width: 19rem;
    }
}