.Home-container{
    background: url("../../imgs/hero-bg.png");
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Home-map-container{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.Home-map-container h2{
    color: #344E2A;
    font-size: 28px;
}

.map-text-cont{
    display: flex;

}

.map-text-cont{
    margin-top: 2rem;
    font-size: 18px;
}
 .map-text-cont ul{
    margin-top: 1rem;
 }

 .map-text-cont ul li{
    padding-top: 1rem;
 }

 .closed-projects{
    margin-top: 2rem;
 }

 @media screen and (max-width:646px) {
    .map-text-cont{
        flex-direction: column;
    }
    .leb-map{
        height: 27rem;
    }
    .map-title{
        margin-top: 5rem;
    }
 }